.header {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 92px 49px 92px 51px;
  margin: auto;
}

.header_menu {
  align-self: center;
}

.header_links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header_link_active {
  text-decoration: none;
}

.header_links-list-item {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  font-style: normal;
  max-width: 240px;
}

.header_links-list_active {
  list-style: none;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
}

.header_link:hover {
  color: #ffc0cb;
  border-bottom: 1px solid #ffc0cb;
  text-decoration: none;
}

.header_link {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  font-style: normal;
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.address {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  justify-self: end;
  align-self: center;
}

.header_logo {
  display: block;
  align-self: center;
  justify-self: center;
  max-width: 137px;
}

.header_links-list-item_no-bullit {
  display: flex;
  flex-direction: column;
  gap: 0;
  list-style: none;
}

.cover {
  position: relative;
  max-width: 1440px;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover_title {
  position: relative;
  z-index: 1;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  display: block;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
  padding-top: 17px;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
  padding-top: 20px;
}

.cover_description {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.cover_description-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
  margin-top: 135px;
  margin-right: 78px;
}

.bet-button:hover {
  border: 1px solid #ffc0cb;
  color: #ffc0cb;
  box-shadow: 20px 20px 10px 0 rgba(0, 0, 0, 0.35);
}

.bet-button {
  border: 1px solid #fff;
  font-family: "Raleway", Arial, sans-serif;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px 32px;
  margin-top: 135px;
}

.lots {
  padding: 180px 50px 181px;
  position: relative;
  max-width: 1440px;
  max-height: 100%;
  margin: auto;
}

.lots_heading {
  color: #000;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 50px 40px;
  max-width: 430px;
  min-height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: 20px 20px 10px 0 rgba(0, 0, 0, 0.35);
}

.card-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots_card-list {
  display: flex;
  column-gap: 25px;
  list-style: none;
  position: relative;
}

.card_title {
  color: #fff;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
  z-index: 2;
}

.card_text {
  color: #fff;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: none;
  line-height: 1.2;
  z-index: 2;
  padding-top: 30px;
}

.lots_look-more-link:hover {
  color: #ffc0cb;
  border-bottom: 1px solid #ffc0cb;
  text-decoration: none;
}

.lots_look-more-link {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  margin-left: 40px;
  margin-top: 30px;
  display: inline-block;
}

.about {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 180px;
  position: relative;
  max-width: 1440px;
  margin: auto;
}

.about_column {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
}

.about_logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-left: 95px;
  margin-right: 95px;
}

.about_logo-image {
  display: block;
  width: 148px;
  height: 114px;
  margin: 63px 46px;
}

.about_title {
  color: #000;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  max-width: 1440px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 90px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.footer_menu {
  color: #000;
  text-align: center;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_menu-link:hover {
  color: #ffc0cb;
  border-bottom: 1px solid #ffc0cb;
  text-decoration: none;
}

.footer_menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer_menu-list-item {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
}

.footer_menu-list {
  list-style-type: none;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer_social-icon {
  max-height: 48px;
  display: block;
}

.footer_social-icon:hover {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.35);
  border-radius: 50%;
}